<section class="hero-unit">
  <h1>Kerbal Space Station</h1>
  <p>
    Welcome to the Kerbal Space Station, a great place to find new parts, modifications, and spacecraft!
  </p>
</section>

<%= carousel @top_mods %>
