//= require bootstrap
//= require bootstrap-responsive
//= require chosen
//= require font-awesome
//= require tagmanager
//= require bootstrap/tour
//= require bootstrap/lightbox
//= require bootstrap/fileupload
//= require bootstrap/markdown
//= require patches/bootstrap
//= require_self

$white: #ecf0f1;
$green: #2ecc71;
$red: #e74c3c;
$blue: #2980b9;

body {
  padding-top: 60px;

  .pull-center {
      text-align: center;
  }

  .carousel .item img {
    width: 1170px;
    height: 580px;
  }

  #gallery .primary img{
    width: 100%;
    margin: 10px 0px;
  }

  .navbar .navbar-inner {
    background-color: $blue;
    background-image: none;
    border-color: $blue;

    a {
      color: $white;
    }
  }

  .btn {
    background-image: none;
  }

  a {
    color: $blue;
  }

  .well {
    background-color: $white;
  }
}




