/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-responsive
 *= require font-awesome
 *= require chosen
 *= require bootstrap/tour
 *= require bootstrap/lightbox
 *= require bootstrap/fileupload
 *= require bootstrap/markdown
 *= require tagmanager
 *= require_self
 */

body {
  padding-top: 60px;
}

.btn-group-wrap {
    text-align: center;
}

.nav-pills {
  text-align: center;
}
